body { 
   background-color: #ebebeb;
  
}

.center{
 margin: auto;
 max-width:960px;
  
}
.cities {
  background-color: white;
  color: black;
  max-width:960px;
  margin: auto;
  margin-top: 20px;
  
  font-size: 30px;
  
}
img {
  float: left;
  margin-right:15px;
  margin-left:15px;
  width: 150px;
  height: 150px;
}
p.one {
  
  border: 5px solid #4aaaa5;

}

h2 {
  border-bottom: 1px solid black;
  background-color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-right:15px;
  margin-left:15px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  
  
}
.one{
    float: right;
}
li {
    float: left;
   
  }
  p {
    
    margin-right:15px;
    margin-left:15px;
    margin-bottom: 15px;
  }
  
  li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  
  
  .active {
    background-color: #4CAF50;
  }
  .footer {
      display: flex;
      justify-content: center;
      padding: 5px;
      background-color: black;
      color: #666666ff;
      
      
  }
  .foo {
      display: flex;
      max-height: 5px;
      margin-top: 20px;
      
      background-color: green;
     
  }
  

  /* contact */

  input[type=text], select {
    width: 900px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 4%;
   
  }
  
  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 4%
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  textarea {
    width: 900px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-left: 4%;
    
  }
  label,
  h2 {
    margin-left: 4%;
    margin-top: 15px;
  }
  h2 {
    border-bottom: 1px solid black;
  
  }
  /* portfolio */
  .container {
    display: flex;
    justify-content: left;
     
  }
  
  .example {
    display: flex;
    justify-content: space-around;
    width: 550px;
    margin: 10px 0;
    position: relative;
    font-family: Arial;
    
    
  }
  h4{
    text-align: justify;
    font-size: 17px;
  }
   img {
    display: block;
    width: 250px;
    height: 250px;
 
  }
   .example1 {
     margin-left: 8px;
     margin-bottom: 20px;
     position: relative;
     font-family: Arial;
   }

   
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 13px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 5px;
    
  }
  .text {
    position: absolute;
    bottom: 20px;
    left: 13px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 5px;
   
  }